/*----------------------------------------------
  Final Estimate
-----------------------------------------------*/
.final {
  margin: 3em auto;
}

.final__heading {
  max-width: 20em;
  margin: 0 auto 1em;
  font-family: $font-body;
  font-size: 2em;
}

.final__button {
  display: block;
  max-width: 15em;
  margin: 0 auto;
  padding: .5em 1em;
  font-family: $font-heading;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-primary;
  transition: transform .2s ease-out;

  &:hover,
  &:focus {
    background-color: $color-tertiary;
    transform: rotate(-2deg);
  }
}
