/*----------------------------------------------
  Header
-----------------------------------------------*/
.page-heading {
  margin: .75em auto 0;
  font-size: 3.5em;
  color: $color-primary;
}

.page-subheading {
  margin: 0 auto 2em;
  font-family: $font-body;
  font-size: 1.2em;
  color: $color-tertiary;
}
