/*----------------------------------------------
  Media Query breakpoints
-----------------------------------------------*/
$mq-xxsmall: 24em; // Phones (Landscape) - anything smaller is in portrait
$mq-xsmall:  40em; // Tablet
$mq-small:   64em; // Netbook
$mq-medium:  80em; // Laptop
$mq-large:   100em; // Mid Size monitor
$mq-xlarge:  120em; // Desktop
$mq-xxlarge: 140em; // Thunderbolt
