/*----------------------------------------------
  Button styles
-----------------------------------------------*/
// Reset buttons to look like text links unless given a specific class
button, [type="submit"], [type="button"] {
  display: inline-block;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.button {
  transition: transform .2s cubic-bezier(.38, -1.04, 1, .72);

  &:focus {
    outline: 0;
  }
}

.button--big {
  display: block;
  max-width: 15em;
  margin: 0 auto;
  padding: .5em 1em;
  font-family: $font-heading;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-primary;

  &:hover,
  &:focus {
    background-color: $color-tertiary;
    transform: rotate(-2deg);
  }
}
