/*----------------------------------------------
  Layout
-----------------------------------------------*/
.container {
  max-width: 64em;;
  padding: 0 1.5em;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; // Vertical centering
  justify-content: center; // Horizontal centering
}

/*----------------------------------------------
  Grid
-----------------------------------------------*/
$mq-xsmall: 28em;
$mq-small:  45em;
$mq-medium: 62em;

.food {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 15em; // TODO:
  padding: 1em .5em;
  box-sizing: border-box;

  @media (max-width: $mq-xsmall) {
    flex-basis: 100%;

    &:nth-child(odd) {
      //
    }
    &:nth-child(even) {
      background-color: $color-secondary;
    }
  }
  @media (min-width: $mq-xsmall) and (max-width: $mq-small) {
    flex-basis: 50%;

    &:nth-child(4n+1), &:nth-child(4n+4) {
      //
    }
    &:nth-child(4n+2), &:nth-child(4n+3) {
      background-color: $color-secondary;
    }
  }
  @media (min-width: $mq-small) and (max-width: $mq-medium) {
    flex-basis: 33.333333%;

    &:nth-child(6n+2), &:nth-child(6n+4), &:nth-child(6n+6) {
      //
    }
    &:nth-child(6n+1), &:nth-child(6n+3), &:nth-child(6n+5) {
      background-color: $color-secondary;
    }
  }
  @media (min-width: $mq-medium) {
    flex-basis: 25%;

    &:nth-child(8n+1), &:nth-child(8n+3), &:nth-child(8n+6), &:nth-child(8n+8) {
      //
    }
    &:nth-child(8n+2), &:nth-child(8n+4), &:nth-child(8n+5), &:nth-child(8n+7) {
      background-color: $color-secondary;
    }
  }
}

/*----------------------------------------------
  Typography/visual
-----------------------------------------------*/
.food__name {
  margin: 0 auto;
  font-family: $font-body;
  font-size: 1.3em;
  //color: $color-primary;
}

.food__image {
  margin: .5em auto;
  width: 70%;
  height: auto;
}

.food__serving {
  font-size: .9em;
}

/*----------------------------------------------
  Adding/Subtracting quantity actions
-----------------------------------------------*/
.food__actions {
  margin: .5em auto 0;
}

.food__action {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .25em;
  padding: .25em .75em .5em;
  font-size: 1.1em;
  line-height: 1;
  color: $color-light;
  background-color: $color-tertiary;
  transition: transform .2s ease-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    outline: 0;
  }
}

.food__quantity {
  display: inline-block;
  vertical-align: middle;
  min-width: 1em;
  font-family: $font-heading;
  font-size: 1.2em;
}
