/*----------------------------------------------
  Layout
-----------------------------------------------*/
.container {
  max-width: 64em;
  padding: 0 1em;
  margin-right: auto;
  margin-left: auto;
}

/*----------------------------------------------
  Grid
-----------------------------------------------*/
.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
